<div class="todo-app">
    <div class="container">
        <form #todoForm="ngForm">
            <div class="todo">
                <div class="form-group">
                    <input  id="todo-input" type="text" 
                    class="form-control" 
                    name="input-todo" 
                    placeholder="what is the task " 
                    [(ngModel)]="inputTodo">
                    <span style="margin-right: 200px;"></span>
                    <button class="todo-submit" (click)="addTodo()">Add Todo</button>
                </div>
                </div>
                </form>
                </div>
    
     <div class="todo" *ngFor="let todo of todos; let i = index;" [class.done]="todo.completed">
        <input style="width: 600px; padding: 5px; background-color: darksalmon; color: whitesmoke;" *ngIf="!todo.editMode" type="text" [(ngModel)]="todo.content">
        <div *ngIf="todo.editMode" class="content">{{ todo.content }}</div>
        <button style="background-color: lightseagreen;" class="edit" (click)="editTodo(i)">{{ todo.editMode ? 'Save' : 'Edit' }}</button>
        <button style="background-color: lightcoral;" class="delete" (click)="deleteTodo(i)">Remove</button>

       
       
            <!-- <div class="id">{{ i }}</div> -->
            <!-- <input *ngIf="!todo.editMode" class="content" type="text" [(ngModel)]="todo.content"> -->
            <!-- <div *ngIf="todo.editMode" class="content" (click)="toggleDone(i)">{{ todo.content }}</div> -->
            <!-- <button style="background-color: lightseagreen;" class="edit" (click)="editTodo(i)">Edit</button> -->
            <!-- <button style="background-color: lightcoral;" class="delete" (click)="deleteTodo(i)">Remove</button> -->



   <!-- <div *ngIf="!todo.editMode" class="content" (click)="toggleDone(i)">{{ todo.content }}</div> -->
             <!-- <span style="margin-right: 10px;"></span> -->
            <!-- <button style="background-color: lightseagreen;" class="edit" (click)="editTodo(i)">Edit</button> -->
            <!-- <span style="margin-right: 20px;"></span> -->
            <!-- <button style="background-color: lightseagreen" class="delete" (click)="deleteTodo(i)">Remove</button> -->
            <!-- <span style="margin-right: 20px;"></span> -->
            
             </div>
              </div>



              

    

    