<div class="todo-app">
    <div class="container">
        <form #todo="ngForm">
            <div class="todo">
                <div class="form-group">
                    <input id="todo-input" type="text" 
                    class="form-control" 
                    name="input-todo" 
                    placeholder="Enter your todo " 
                    [(ngModel)]="inputTodo">
                </div>
                </div>
 <button class="todo-submit"  (click)="addTodo()">Add Todo</button>
 </form>
 </div>
    
     <div class="todo" *ngFor="let todo of todos; let i = index;" [class.done]="todo.completed">
            <div class="id">{{ i }}</div>
            <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
            <span style="margin-right: 10px;"></span>
            <button class="edit" (click)="editTodo(i)">Edit</button>
            <span style="margin-right: 20px;"></span>
            <button class="delete" (click)="deleteTodo(i)">Remove</button>
        </div>
</div>

    

    