
.todo-app{
    background-color: lightblue;
    width: 700px;
    height: 400px;
    padding: 10px;
    margin-left: 250px;
    }

.todo .form-group{
    display: flex;
    align-items: center;
    /* justify-items: flex-end; */
}


.todo{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
}

.todo:nth-child(even){
    background-color: white;
}
.todo:last-of-type{
    border-bottom: 0;
}
.todo .id{
    margin-right: 100px;
    }
.todo.content{
    flex: 1 1 50%;
    
}
.todo.done.content{
    text-decoration: line-through;
}
#todo-input{
    flex: 1;
    width: 500%;
    padding: 20px 30px;
    appearance: none;
    border: 30px;
    background-color: whitesmoke;
    margin-top: 30px;
    font-size: 20px;
    outline: none;
}
.todo-submit{
    display: flex;
    width: 10%;
    /* max-width: 50px; */
    appearance: none;
    border-radius: 10px;
    outline: none;
    background: none;
    cursor: pointer;

    background-color: lightseagreen;
    color: white;
    margin: 15 auto;

    padding: 5px 5px;
    font-size: 15px;
    font-weight: 400;
}

.edit{
    color: whitesmoke;
    border-radius: 10px;
    
}
.delete{
    color: whitesmoke;
    border-radius: 10px;
    
}


